@import 'tailwindcss';
@import 'tw-animate-css';

@theme inline {
  --font-mono: var(--font-mono);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
  border-color: var(--color-gray-200, currentcolor);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: slatescale;
  overflow-x: hidden;
}

p:not(:last-child) {
  margin-bottom: 0.9rem;
}

ol,
ul {
  margin-left: 1.1rem;
}

ol {
  list-style-type: disc;
}
